# Preprocessing Text

In [1]:
import nltk

In [2]:
#nltk.download() --> Already Downloaded

In [3]:
import pandas as pd

In [4]:
fake=pd.read_csv("C:/Users/Rishi Jhawar/Desktop/AI/News_Classification/Fake.csv")
true=pd.read_csv("C:/Users/Rishi Jhawar/Desktop/AI/News_Classification/True.csv")

In [5]:
fake.subject.value_counts()

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [6]:
fake['label']=0
true['label']=1

In [7]:
fake.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [8]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [9]:
data=pd.concat([fake,true], axis=0)

In [10]:
data=data.reset_index(drop=True)

In [11]:
data=data.drop(["subject","date","title"], axis=1)

In [12]:
data.shape
data.columns

Index(['text', 'label'], dtype='object')

In [13]:
from nltk.tokenize import word_tokenize

In [14]:
data["text"]=data["text"].apply(word_tokenize)

In [15]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english")

In [16]:
def stem(text):
    return [porter.stem(word) for word in text]

In [17]:
data["text"]=data["text"].apply(stem)

In [18]:
def stopward(text):
    stopward_text=[word for word in text if len(word)>2]
    return stopward_text

In [19]:
data["text"]=data["text"].apply(stopward)

In [20]:
data.head(10)

                                                text  label
0  [donald, trump, just, couldn, wish, all, ameri...      0
1  [hous, intellig, committe, chairman, devin, nu...      0
2  [friday, was, reveal, that, former, milwauke, ...      0
3  [christma, day, donald, trump, announc, that, ...      0
4  [pope, franci, use, his, annual, christma, day...      0
5  [the, number, case, cop, brutal, and, kill, pe...      0
6  [donald, trump, spent, good, portion, his, day...      0
7  [the, wake, yet, anoth, court, decis, that, de...      0
8  [mani, peopl, have, rais, the, alarm, regard, ...      0
9  [just, when, you, might, have, thought, get, b...      0

In [21]:
data["text"]=data["text"].apply(' '.join)

# Model Splitting and Vectorization

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test=train_test_split(data["text"],data["label"])

In [24]:
x_train.head()

42657    moscow reuter russia defenc ministri said sund...
24219    washington reuter the u.s. senat bank committe...
12586    74-year-old woman task with open envelop sent ...
14774    the polit correct countri sweden pay veri big ...
18661    stephani ruhl msnbc was with panel liber when ...
Name: text, dtype: object

In [25]:
y_train.head()

42657    1
24219    1
12586    0
14774    0
18661    0
Name: label, dtype: int64

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfid=TfidfVectorizer(max_df=0.7)
v_train=my_tfid.fit_transform(x_train)
v_test=my_tfid.transform(x_test)

In [27]:
print(v_train)

  (0, 91389)	0.20446270461938176
  (0, 8635)	0.12097719035425779
  (0, 24638)	0.2023279409967345
  (0, 57262)	0.09353296181967548
  (0, 77237)	0.05234408153208634
  (0, 42450)	0.11068497780223743
  (0, 18136)	0.10967688901206911
  (0, 68897)	0.06278016330143882
  (0, 8176)	0.09390233698678382
  (0, 57651)	0.07182177596137598
  (0, 79803)	0.2392837657991899
  (0, 79181)	0.23407367925652298
  (0, 74114)	0.3900630931673284
  (0, 55433)	0.45810470770865397
  (0, 46118)	0.09430577654215984
  (0, 11048)	0.2984547944183735
  (0, 85791)	0.32631726542996653
  (0, 49163)	0.1753014784765366
  (0, 34291)	0.08936207225913345
  (0, 60310)	0.05418197579361494
  (0, 78499)	0.10286219823984602
  (0, 54332)	0.24602863527434135
  (0, 24532)	0.17014845339689805
  (0, 70971)	0.09852058834709211
  (0, 69280)	0.05250987374747303
  :	:
  (33672, 90502)	0.11211690703778926
  (33672, 86308)	0.12734447816079117
  (33672, 69143)	0.056449966674727
  (33672, 29132)	0.054819926148935064
  (33672, 41184)	0.06465731970379049
  (33672, 69128)	0.03919822424191568
  (33672, 48833)	0.07691889134735844
  (33672, 81043)	0.11773610228659356
  (33672, 20134)	0.04836295023963553
  (33672, 81403)	0.1622452030159358
  (33672, 62821)	0.025119459975454013
  (33672, 60984)	0.024804879051333023
  (33672, 63027)	0.11613309254525091
  (33672, 55337)	0.048009887430343005
  (33672, 28423)	0.030253808058093027
  (33672, 8125)	0.023919962623780093
  (33672, 38834)	0.08278171221338579
  (33672, 49951)	0.10958797089256998
  (33672, 41115)	0.030209750754184715
  (33672, 33179)	0.056981865141862396
  (33672, 90185)	0.14904548034234405
  (33672, 82903)	0.09256562604517085
  (33672, 26619)	0.02565988678404179
  (33672, 65172)	0.044446274842050576
  (33672, 70971)	0.04393842122178154

# Model Architecture Using Logistic Regression

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [29]:
model=LogisticRegression(max_iter=1024)
model.fit(v_train,y_train)
prediction=model.predict(v_test)
percentage_accuracy=accuracy_score(y_test,prediction)
print(percentage_accuracy*100)

98.95768374164811

#  Model Architecture Using Passive Aggressive Classifier

In [30]:
from sklearn.linear_model import PassiveAggressiveClassifier

In [31]:
model=PassiveAggressiveClassifier(max_iter=1024)
model.fit(v_train,y_train)
prediction=model.predict(v_test)
percentage_accuracy=accuracy_score(y_test,prediction)
print(percentage_accuracy*100)

99.64365256124722